/* Force full background black */
body {
  background-color: #09151a !important;
  color: #f0f8ff !important; /* adjust text for readability */
  font-family: "Roboto", sans-serif;
}

/* Optional: links */
a {
  color: #2e96db;
}

.wrapper {
  max-width: 1100px; /* or whatever width you prefer */
}
